name: Build And Publish Npm Container Image

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_call:
    inputs:
      repository_name:
        required: true
        type: string
      image_name:
        required: true
        type: string
      tag:
        type: string
    secrets:
      registry_username:
        required: true
      registry_password:
        required: true
      be_url:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      if: ${{ true && github.repository != 'numanturkeri/shared-pipeline-templates' }}
      uses: actions/checkout@v3
      with:
        repository: ${{ inputs.repository_name }}
        ref: main

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to GitHub Container Registry
      if: ${{ github.repository != 'numanturkeri/shared-pipeline-templates' }}
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ secrets.registry_username }}
        password: ${{ secrets.registry_password }}

    - name: Build and push Docker image
      if: ${{ github.repository != 'numanturkeri/shared-pipeline-templates' }}
      uses: docker/build-push-action@v2
      with:
        context: .
        push: true
        build-args: |
          NEXT_PUBLIC_API_URL=${{ secrets.be_url }}
        tags: |
          ghcr.io/${{ inputs.image_name }}:latest
          ghcr.io/${{ inputs.image_name }}:${{ inputs.tag }}
