name: Maven Build
on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - main
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        if: ${{ true && github.repository != 'numanturkeri/shared-pipeline-templates' }}
        uses: actions/checkout@v3

      - name: Cache Maven dependencies
        if: ${{ true && github.repository != 'numanturkeri/shared-pipeline-templates' }}
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Set up JDK
        if: ${{ true && github.repository != 'numanturkeri/shared-pipeline-templates' }}
        uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: '17'

      - name: Build with Maven
        if: ${{ true && github.repository != 'numanturkeri/shared-pipeline-templates' }}
        run:
          mvn clean install

      - name: Run Tests
        if: ${{ true && github.repository != 'numanturkeri/shared-pipeline-templates' }}
        run: mvn test